<div class="container">
    <h2 class="centrar">Agregar Producto</h2>

    <form [formGroup] ="formularioDeProducto" (ngSubmit)="agregarProducto()">

        <label class="file-upload-label" class="centrar">
            <span>Seleccion El Archivo</span>
            <input type="file" id="fileInput" (change)="archivoSelecionado($event)" hidden>
            <mat-icon>attach_file</mat-icon>
        </label>

        <div *ngIf="archivo" class="image-preview">
            <div class="circle-image" >
                <img [src]="imagen" alt="Selected Image" class="preview-image">
            </div>   
        </div>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Selecciona La Categoria</mat-label>
            <mat-select formControlName="idCategoria" name="idCategoria">
                <mat-option *ngFor="let categoria of listOfCategories" [value]="categoria.id">
                    {{categoria.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formularioDeProducto.get('idCategoria')?.hasError('required')">this Input Is Required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" placeholder="Nombre" formControlName="nombre" />
            <mat-error *ngIf="formularioDeProducto.get('nombre')?.hasError('required')">This Input is Required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Precio</mat-label>
            <input matInput type="number" placeholder="Precio" formControlName="precio" />
            <mat-error *ngIf="formularioDeProducto.get('precio')?.hasError('required')">This Input is Required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Descripcion</mat-label>
            <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
            <mat-error *ngIf="formularioDeProducto.get('descripcion')?.hasError('required')">this Input Is Required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Añadir</button>

    </form>

</div>