.container{
    height: 300px;
    width: 500px;

}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.product-image {
    height: 400px; /* Ajusta la altura según sea necesario */
    width: 400px; /* Ajusta el ancho según sea necesario */
    object-fit: cover; /* Mantiene la relación de aspecto */
    border-radius: 8px;
}

.product-name {
    font-size: 1.8em;
    color: #333;
}

.product-description {
    font-size: 1em;
    color: #666;
}

.product-info {
    margin-top: 10px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.info-label {
    font-weight: bold;
}

.info-value {
    color: #007BFF; /* Color azul para resaltar el precio y categoría */
}
