<div *ngIf="!ingresarComoCliente && !ingresarComoAdministrador">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-commerce</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/invitado/Panel Principal" routerLinkActive="active">Catalogo</button>
    <button mat-button routerLink="/Ingresar" routerLinkActive="active">Ingresar</button>
    <button mat-button routerLink="/Registrate" routerLinkActive="active">Registrarte</button>
  </mat-toolbar>
</div>

<div *ngIf="ingresarComoAdministrador">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-commerce</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/administrador/Panel Principal" routerLinkActive="active">Panel Principal</button>
    <button mat-button routerLink="/administrador/Categoria" routerLinkActive="active">Categoria</button>
    <button mat-button routerLink="/administrador/Productos" routerLinkActive="active">Productos</button>
    <button mat-button routerLink="/administrador/Ordenes" routerLinkActive="active">Ordenes</button>
    <button mat-button  routerLinkActive="active" (click)="desconectar()">Desconectar</button>
  </mat-toolbar>
</div>

<div *ngIf="ingresarComoCliente">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-commerce</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/cliente/Panel Principal" routerLinkActive="active">Panel Principal</button>
    <button mat-button routerLink="/cliente/Carrito" routerLinkActive="active">Compras</button>
    <button mat-button routerLink="/cliente/Mis Ordenes" routerLinkActive="active">Mis Ordenes</button>
    <button mat-button  routerLinkActive="active" (click)="desconectar()">Desconectar</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>